@media only screen and (max-width: 600px) {
    #about-me-img {
        width: 320px;
        height: 240px;
    }

    .about-me-bio {
        margin-left: 10px;
    }
}

.about-me-2-col {
margin-left: 70px;
}

.col-img {
    margin-left: 105px;
}

.outdoorImg {
    border-radius: 5px;
}