html * {
  font-family: "YAFdJqkJIt4 0";
}

#services {
  color: #623e29;
}

#about-me-img {
  border-radius: 5px;
  margin: auto;
  display: block;
}

.wrapper {
  background-color: rgb(234, 234, 238);
}


.header {
  color: #5D402D;
  /* font-family: "YAEZxhW1Plk 0"; */
  /* font-family: 'Fahkwang', sans-serif; */
  /* font-family: 'Noto Serif SC'; */
  /* font-family: 'Prompt'; */
  font-family: 'Tenor Sans';
  font-size: 45px;
  /* font-weight: bold; */
}

/* Introduction component at top of page */
#title-img {
  width: 100%;
  object-fit: cover;
  height: 700px;
  filter: brightness(70%);
  position: relative;
}


.title-holder {
  position: absolute;
  font-size: 150px;
  width: 97%;
  top: 60%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-family: "Abhaya-Libre";
  background-color: rgba(204, 204, 204, 0.5);
  display: inline-block;
  padding: 0.2em 0.2em 0.2em 0.2em;
  line-height: 120px;
}

.title {
  color: white;
  font-size: 160px;
}


.subtitle-holder {
  color: white;
  font-family: "Abhaya-Libre";
  font-size: 40px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-btn-holder {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-btn {
  border-radius: 0%;
  border-color: transparent;
  width: 250px;
  font-size: 20px;
  font-family: "Questrial";
}


/*Background colors*/
.aboutMe-bg {
  background-color: rgb(241, 239, 235);
}

.aboutSpace-bg {
  background-color: rgb(214, 212, 206);
  min-height: 700px;
}

.booking-bg {
  background-color: rgb(167, 154, 139);
}

.services-bg {
  background-color: rgb(214, 212, 206);
}

.photo-bg {
  background-color: rgb(144, 146, 140);
}

.footer-bg {
  background-color: rgb(167, 154, 139);
}


.email-color {
  color: rgb(81, 73, 64);
}


/*Mobile screen breakpoint for title*/
@media only screen and (max-width: 767px) {
  .title-holder {
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 97%;
    top: 450px;
    font-family: "Abhaya-Libre";
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0.2em;
    line-height: 20px;
  }

  .title {
    font-size: 35px;
    margin-top: 15px;
  }

  .subtitle-holder {
    font-family: "Abhaya-Libre";
    font-size: 24px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
  }

  .book-btn {
    border-radius: 0%;
    border-color: transparent;
    width: 200px;
    font-size: 18px;
  }

  .book-btn-holder {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel-text {
    font-size: 15px!important;
    width: 70%!important;
  }

  .testimonial-carousel {
    margin-top: 0px!important;
  }

  .carousel-title {
    margin-bottom: 0px!important;
  }
}


/*Tablet screen breakpoint for title*/
@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .title-holder {
    color: white;
    font-size: 90px;
    width: 97%;
    top: 400px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgba(204, 204, 204, 0.5);
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0.2em;
    line-height: 30px;
  }

  .title {
    font-size: 75px;
    margin-top: 10px;
  }

  .subtitle-holder {
    width: 300px;
    margin-left: 25px;
    top: 500px;
  }

  .subtitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }

  .book-btn {
    border-radius: 0%;
    border-color: transparent;
    width: 200px;
    font-size: 18px;
  }

  .book-btn-holder {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* About Me Component */
#about-me-img {
  border-radius: 0px;
  margin: auto;
  display: block;
}

.about-me-row {
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(241, 239, 235);
}

.about-me-paragraph {
  margin-top: 150px;
  font-family: "Questrial" !important;
}

.about-me-summary{
  font-family: "Questrial" !important;
}

.greeting {
  font-family: "Abhaya-Libre";
}

.green-text {
  color: rgb(148, 188, 148);
}

.learn-more-btn {
  width: 250px;
  margin-left: 200px;
  border-radius: 0%;
  border-color: transparent;
  border: transparent;
  font-family: "Questrial";
}

.learn-more-btn:hover {
  background-color: rgb(235, 234, 234);
  border-color: transparent;
  border: transparent;
  transition: 0.3s;
}

/* Breakpoint for smaller-sized screen */
@media only screen and (max-width: 767px) {
  .learn-more-btn {
    margin-left: 30px;
  }

  .about-me-paragraph {
    margin-top: 80px;
  }

  #about-me-img {
    width: 300px !important;
    height: 350px !important;
  }
}

/* Break point for regular-sized screen*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .learn-more-btn {
    margin-left: 210px;
  }

  .about-me-paragraph {
    margin-top: 80px;
  }
}

.about-me-col {
  margin-top: auto;
  margin-bottom: auto;
}

.text-wrap {
  margin-top: 100px;
}

.read-more-btn {
  border-radius: 0%;
  background-color: rgb(190, 189, 189);
  border-color: transparent;
}

.horizontal-line {
  color: rgb(117, 154, 117);
  width: 200px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
}

.primary-row {
  background-color: rgb(37, 46, 37);
}


/*About space map sizing to match images*/

.map {
  width: 100%;
  min-height: 200px;
}

.posRelative {
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.posAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.primary-row {
  background-color: rgb(37, 46, 37);
}

/*About Space card breakpoints*/
@media screen and (max-width: 768px) {
  .infoBox {
    height: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .infoBox {
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .infoBox {
    height: 150px;
  }
}


.primary-row {
  background-color: rgb(37, 46, 37);
}

/* Aboout Page component */

.about-me-2-col {
  margin-left: 70px;
  }
  
  .col-img {
    margin-left: 105px;
  }
  
  .outdoorImg {
    border-radius: 5px;
    object-fit: cover;
  }
  
/* Breakpoint for smaller-sized screens */
@media only screen and (max-width: 600px) {
  #about-me-img {
      width: 320px;
      height: 240px;
  }

  .about-me-bio {
      margin-left: 10px;
  }
}

/* Testimonial and Carousel Styling */
.carousel-holder {
  height: 675px;
  text-align: center;
  background-color: rgb(241, 239, 235);
}

.carousel-title {
  font-family: "Abhaya Libre";
  height: 100px;
  margin-top: 100px;
}

.carousel-text {
  width: 90%;
  font-family: "Questrial";
}

.testimonial-carousel {
  margin-top: 0px!important;
  margin-bottom: 500px;
}

.testimonial-hr {
  width: 40%;
  border: 3px solid black;
}

.testimonial-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-rating {
  color: rgb(252, 191, 2);
}


/*Misc Styling*/

.psImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.horizontal-line {
  color: black;
  width: 80%;
}
