#about-me-img {
    border-radius: 5px;
    margin: auto;    
    display: block;
}


.about-me-title {
    color: rgb(148, 188, 148);
}


.horizontal-line {
    color: rgb(117, 154, 117);
    width: 200px;
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
}


.primary-row {
    background-color: rgb(37, 46, 37);
}